/* Définition des polices personnalisées */
/*top right bottom left*/
@font-face {
    font-family: 'Franklin Gothic';
    font-style: normal;
    font-weight: normal;
    src: local('Franklin Gothic'), url('font/FranklinGothic.woff') format('woff');
}

@font-face {
    font-family: 'Rockwell';
    font-style: normal;
    font-weight: normal;
    src: local('Rockwell'), url('font/ROCK.tff') format('tff');
}

/* Eléments principaux de la page */

body
{
    background: url('images/fond.png');
    font-family: 'Rockwell', Arial, sans-serif;
    color: #010101;
    background-color: lightgrey;
}

#bloc_page
{
    width: 90%;
    margin: auto;
    margin-top: 130px;
    min-width: 550px;
}


section h2, nav a
{
    font-family: 'Franklin Gothic', serif;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
}

section h2
{
    font-size: 20px;
    width: 100%;
}

a
{
    color: black;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: black;
}

p
{
    font-size: 20px;
    font-family: "Rockwell";
    list-style: none;
    list-style-type: none;
    text-align: justify;
}

/* Liens surlignés */

div.comp:hover .exp_comp
{
    display: block;
    padding-left: 20px;
}

div.comp2:hover .exp_comp2
{
    display: block;
    padding-left: 62px;
}

.exp_comp, .exp_comp2
{
    display: none;
    text-align: left;
    font-size: 15px;
    text-decoration-line: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
}

.exp_comp2
{
    margin-top: 0px;
}

.comp, .comp2
{
    font-size: 20px;
    font-family: "Rockwell";
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: black;
}

.comp
{
    padding-left: 20px;
    padding-top: 10px;
}

@media screen and (max-device-width: 480px)
{
    .exp_comp
    {
        padding-left: 20px;
    }

    .exp_comp2
    {
        padding-left: 62px;
    }

    .exp_comp, .exp_comp2
    {
        display: block;
        text-decoration-line: none;
    }

    .comp, .comp2
    {
        text-decoration-line: none;
    }
}

/* Bande En-tête */

header
{
    top: 0%;
    position: fixed;
    width: 90%;
    box-shadow: 0px 2px 5px #1c1a19;
    /*border-radius: 5px;*/
    background-color: #A5300F;
    z-index: 1;
    display: flex;
}

header h1
{
    font-family: 'Rockwell', serif;
    font-size: 2.5em;
    font-weight: normal;
    right: 0px;
    text-align: right;
    color: white;
    padding-right: 30px;
    flex: 2;
}

header img
{
    flex: 0.1;
    padding-left: 30px;
}


/* Corps */

section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    flex: 3;
    margin-left: 420px;
}

/* Aside */

aside
{
    flex: 1.2;
    position: fixed;
    top: 130px;
    background-color: #A5300F;
    width: auto;
    height: auto;
    max-height: 435px;
    bottom: 10px;
    box-shadow: 0px 2px 5px #1c1a19;
    /*border-radius: 5px;*/
    padding: 10px;
    color: white;
    font-size: 0.9em;
    overflow:scroll
}

aside p
{
    font-weight: normal;
    font-size: 1.3em;
}

aside h2
{
    font-size: 25px;
}

#ligne_titre
{    
    display: flex;
    width: 100%;
    align-items: center;
}

#ligne_titre h1
{
    width: 100%;
}

#ma_photo
{
    border: 1px solid #181818;
    border-radius: 100%;
    display: block;
    margin: 10px auto 0px auto;
}

/* Navigation */

nav
{
    padding-top: 10px;
    font-family: 'Franklin Gothic', serif;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
}

nav ul
{
    list-style-type: none;
    display: flex;
    padding-left: 0px;
}

nav li
{
    margin-right: 7px;
    font-size: 1.6em;
    margin-left: 7px;
}

nav a
{
    color: white;
    text-decoration: none;
}

nav a:hover
{
    color: grey;
    border-bottom: 3px solid grey;
}

/* Catégorie */

.bandeau
{
    display: flex;
    align-items: center;
}

.titre
{
    display: flex;
    width: 100%;
}

.fleche
{
    height: 45px;
    width: auto;
    vertical-align: middle;
    align-items: center;
    margin-bottom: auto;
    margin-top: auto;
}

.titre h2
{
    padding: 10px 10px 10px 10px;
    border: 1px solid #A5300F;
    background-color: #A5300F;
}

.ico_categorie
{
    /*border: 1px solid #A5300F;*/
    border-radius: 0% 100% 100% 0%;
    align-items: center;
    padding: 0.5em;
    width: 29px;
    height: 29px;
    margin-bottom: auto;
    margin-top: auto;
    background-color: #A5300F;
}

/* Contenu */

.paragraphe
{
    display: flex;
}

.bulle, .head
{
    margin-left: 20px;
    padding: 0px 20px 0px 20px;
    background: url('images/fond.png');
    background-color: white;
    /*border-radius: 10px;*/
    width: 100%;
    margin-right: 20px;
}

.bande
{
    background-color: #A5300F;
    margin: 10px 5px 10px 40px;
}

@media screen and (max-width: 900px)
{

    #bloc_page
    {
        margin-top: 0px;
    }

    header
    {
        position: relative;
        width: 100%;
        top: 0%;
    }

    section
    {
        display: block;
    }

    article
    {
        margin-left: 0px;
        margin-top: 20px;
    }

    aside
    {
        position: relative;
        top: 20px;
        width: auto;
        height: auto;
        height: 220px;
    }

    .bulle
    {
        margin-left: 20px;
    }

    .bande
    {
        margin: 10px 5px 10px 10px;
    }

    #ma_photo
    {
        float: right;
        position: absolute;
        right: 35px;
        top: 0;
    }
}

@media screen and (max-device-width: 480px)
{

    #bloc_page
    {
        margin-top: 0px;
    }

    header
    {
        position: relative;
        width: 100%;
        top: 0%;
    }

    section
    {
        display: block;
    }

    article
    {
        margin-left: 0px;
        margin-top: 20px;
    }

    aside
    {
        position: relative;
        top: 20px;
        width: auto;
        height: auto;
        height: 250px;
    }

    .bulle
    {
        margin-left: 20px;
    }

    .bande
    {
        margin: 10px 5px 10px 10px;
    }

    #ma_photo
    {
        float: right;
        position: absolute;
        right: 35px;
        top: 0;
    }
}

@media screen and (max-device-width: 480px)
{
    aside p
    {
        font-size: 25px;
    }

    .titre h2
    {
        font-size: 30px;
    }

    .fleche
    {
        height: 58px;
    }

    .ico_categorie
   {
        height: 42px;
        width: 42px;
   } 
}

@media screen and (max-width: 900px)
{
    .fleche
    {
        border-radius: 100% 0% 0% 100%;
        align-items: center;
        padding: 0.5em;
        width: 29px;
        height: 29px;
        margin-bottom: auto;
        margin-top: auto;
        background-color: #A5300F;
    }
}

.ico_hobbies
{
    width: 40px;
    height: auto;
    margin-right: 10px;
    margin-top: 0px;
    /*vertical-align: 30px;*/
    float: left;
}

/* Footer */

#end_section
{
    display: flex;
    background:  url('images/separateur.png') repeat-x top, url('images/ico_top.png') no-repeat top center;
    padding-top: 50px;
}